.Button {
  justify-content: space-between;
  padding: 10px;
  border: none;
  background: steelblue;
  color: whitesmoke;
  border-radius: 5px;
  margin: 10px;
}

.Button.active {
  padding: 10px;
  border: none;
  background: steelblue;
  color: whitesmoke;
  border-radius: 5px;
}

Button:hover {
  background: red;
}
