.Player {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
}

.Button__minus {
  background: black;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.Button__plus {
  background: black;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.Button__plus:hover {
  background: green;
}

.Button__minus :hover {
  background: red;
}
